.savedResults {
  margin: 0 !important;
  position: absolute;
  top: 0.63rem;
  left: 2.25rem;
  font-size: var(--font-size-5xl);
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
}
.download {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-im-fell-english);
  color: var(--color-lightcyan);
  text-align: left;
}
.materialSymbolsdownloadIcon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.downloadbutton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-xl);
  background-color: transparent;
  margin: 0 !important;
  position: absolute;
  top: 45.63rem;
  left: 2.38rem;
  border-radius: var(--br-80xl);
  background: linear-gradient(180deg, #9bb6b3, #5f888a);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-3xs);
  z-index: 1;
}
.savedsinglegenerate {
  align-self: stretch;
  position: relative;
}
.savedsinglegeneratecontainer {
  border-radius: var(--br-mini);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 12.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-8xs);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}

.savedresultscontainer
 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
}

.savedresultscontainer {
  margin: 0 !important;
  position: absolute;
  top: 7.81rem;
  right: 0.94rem;
  border-radius: var(--br-11xl);
  background: linear-gradient(180deg, #faeaca, #efcfa4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 13.13rem;
  height: 48.44rem;
  flex-shrink: 0;
  padding: var(--padding-26xl) var(--padding-8xs);
  align-items: center;
  gap: var(--gap-5xs);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-im-fell-english);
}
