.App {
  min-height: 100vh;
  text-align: left;
  background-color: rgb(245, 245, 245);
}

.App-header {
  display: flex;
  flex-direction: column;
}

.title {
  align-items: left;
  justify-content: top;
  padding-left: 5%;
  font-size: calc(10px + 2vmin);
  color: darkslategray;
  text-shadow: 2px 2px 3px darkgray;
}

.selectors {
  display: flex;
  flex-direction: row;
  font-size: medium;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.App-body {
  display: flex;
}

.descBox {
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  min-height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.8);
}