@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-im-fell-english: "IM Fell English";

  /* font sizes */
  --font-size-xs: 0.75rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm: 0.88rem;
  --font-size-base: 1rem;
  --font-size-xl: 1.25rem;

  /* Colors */
  --color-aliceblue: #eef4f8;
  --color-saddlebrown: #4a3211;
  --color-lightcyan: #d6f2ec;
  --color-black: #000;
  --color-tan: #a9895d;
  --color-wheat: #edcea3;

  /* Gaps */
  --gap-11xl: 1.88rem;
  --gap-3xs: 0.63rem;
  --gap-mini: 0.94rem;
  --gap-8xs: 0.31rem;
  --gap-5xs: 0.5rem;

  /* Paddings */
  --padding-6xl: 1.56rem;
  --padding-31xl: 3.13rem;
  --padding-xl: 1.25rem;
  --padding-3xs: 0.63rem;
  --padding-10xl: 1.81rem;
  --padding-8xs: 0.31rem;
  --padding-26xl: 2.81rem;
  --padding-11xs: 0.13rem;

  /* border radiuses */
  --br-11xl: 30px;
  --br-81xl: 100px;
  --br-80xl: 99px;
  --br-mini: 15px;
  --br-5xs: 8px;
}
